.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 50px);
    margin: 0;
    background-color: #BFBA9F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    grid-column: 1/9;
    grid-row: 1/3;
    background-color: #401201;
    font-size: 62px;
    text-align: center;
    align-content: center;
    color: beige;
}

nav {
    grid-column: 1/9;
    grid-row: 3/4;
    background-color: #734C36;
    margin: 5px;
    border-radius: 12px;
    font-size: 28px;
    text-align: left;
    align-content: center;
}

nav a{
    color: beige;
    text-decoration: none;
    margin-left: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1/5;
    grid-row: 4/20;
    background-color: #A69F80;
    margin: 20px;
    border-radius: 12px;
    border: 5px solid #8C4820;
    justify-content: center;
    align-items: center;
}

article h1{
    font-size: 52px;
    text-align: center;
    color: #2C1608;
    margin: 0;
}

article h2{
    font-size: 32px;
    color: #2C1608;
    margin: 0;
}

article p{
    margin: 40px;
    font-size: 16px;
    text-align: center;
    color: #2C1608;
}

article button{
    height: 100px;
    width: 150px;
    font-size: 30px;
    background-color: #401201;
    color: beige;
    margin: 15px;
}

.above {
    display: flex;
    grid-column: 5/9;
    grid-row: 4/12;
    background-color: #A69F80;
    margin: 20px;
    border-radius: 12px;
    border: 5px solid #8C4820;
    align-content: center;
    justify-content: center;
}

.above img{
    height: 90%;
    width: 70%;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #401201;
}

aside { 
    display: inline-block;
    grid-column: 5/9;
    grid-row: 12/20;
    background-color: #A69F80;
    margin: 20px;
    border-radius: 12px;
    border: 5px solid #8C4820;
}

aside h1{
    font-size: 36px;
    text-align: center;
    color: #2C1608;
    margin: 10px;
}

aside p{
    margin: 12px;
    font-size: 14px;
    text-align: left;
    color: #2C1608;
}

aside button{
    align-self: center;
    margin: 14px;
    height: 30%;
    width: 30%;
    font-size: 30px;
    background-color: #401201;
    color: beige;
}


footer {
    grid-column: 1/9;
    grid-row: 20/21;
    background-color: #401201;
    font-size: 18px;
    text-align: center;
    align-content: center;
    color: beige;
}

@media screen and (max-width: 900px) {
    header {
        font-size: 55px;
        grid-template-rows: repeat(20, 10px);
    }

    article {
        grid-column: 1/9;
        grid-row: 4/12;
        margin: 2px;
    }

    article h1 {
        font-size: 22px;
        margin: 0;
    }

    article h2 {
        font-size: 12px;
    }

    article p {
        margin: 0;
        font-size: 10px;
    }

    article button {
        height: 50px;
    }

    .above {
        grid-column: 1/9;
        grid-row: 12/15;
        margin: 2px;
    }

    .above img {
        height: 100px;
        width: 100px;
    }

    aside {
        grid-column: 1/9;
        grid-row: 15/20;
        margin: 2px;
    }

    aside h1{
        font-size: 20px;
    }

    aside p{
        margin: 5px;
        font-size: 12px;
    }

    aside button{
        margin: 18px;
        font-size: 16px;
    }
}